# Example environment variables for task-management-api-nest-js
PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_task_management
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# For production, replace values above and do NOT enable synchronize=true
